*{
    background-color: aliceblue;
}
#main{
    border: 2px solid black;
    height: 380px;
    width: 350px;
    margin-left: 400px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
   

}
#top{
    border: 2px solid black;
    height: 45px;
    width: 330px;
    background-color: lightblue;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    font-size: larger;
    

}
#main1{
    border: 2px solid black;
    height: 300px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    background-color: cadetblue;

}
#frame1{
   
    height: 45px;
    width: 300px;
    align-items: center;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-evenly;
    background-color: cadetblue;
    
}
#num7{
    border: 2px solid;
    height: 38px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;  
    background-color: grey;
}
#num8{
    border: 2px solid;
    height: 38px;
    width: 40px;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-size: larger;
}
#num9{
    border: 2px solid;
    height: 38px;
    width: 40px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
#division{
    border: 2px solid;
    height: 38px;
    width: 50px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
#frame2{
    height: 45px;
    width: 300px;
    align-items: center;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    background-color: cadetblue;   
}
#num4{
    border: 2px solid;
    height: 38px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-size: larger;
}
#num5{
    border: 2px solid;
    height: 38px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-size: larger;
}
#num6{
    border: 2px solid;
    height: 38px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-size: larger;
}
#multi{
    border: 2px solid;
    height: 38px;
    width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-size: larger;
}
#frame3{
    height: 45px;
    width: 300px;
    align-items: center;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    background-color: cadetblue;
}
#num1{
    border: 2px solid;
    height: 38px;
    width: 40px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
#num2{
    border: 2px solid;
    height: 38px;
    width: 40px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: gray;

    
}
#num3{
    border: 2px solid;
    height: 38px;
    width: 40px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
#sub{
    border: 2px solid;
    height: 38px;
    width: 50px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
#frame4{
    height: 45px;
    width: 300px;
    align-items: center;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    background-color: cadetblue;   
}
#arow{
    border: 2px solid;
    height: 38px;
    width: 40px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
#num0{
    border: 2px solid;
    height: 38px;
    width: 40px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
#dot{
    border: 2px solid;
    height: 38px;
    width: 40px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

#add{
    border: 2px solid;
    height: 38px;
    width: 50px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: gray;
}
#frame5{
   
    height: 45px;
    width: 300px;
   
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    background-color: cadetblue;
    
    
}
#ce{
    border: 2px solid;
    height: 38px;
    width: 125px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 15, 15);
}
#equal{
    border: 2px solid;
    height: 38px;
    width: 100px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: coral;
    
}
#top:hover{
    background-color: rgb(130, 141, 140);
}
#main:hover{
    background-color: aqua;
}
#num1:hover,
#num2:hover,
#num3:hover,
#num4:hover,
#num5:hover,
#num6:hover,
#num7:hover,
#num8:hover,
#num9:hover,
#num0:hover{
    background-color: chartreuse;
    
}
#add:hover,
#sub:hover,
#multi:hover,
#division:hover,
#equal:hover,
#ce:hover,
#dot:hover
{
    background-color: deeppink;
}

